* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

ng-sidebar-container {
    height: 100vh;
}

::ng-deep .ng-sidebar {
    background-color: #f4f4f4;
    width: 300px;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

a, div, h1, h2, h3, h4, h5, p, span {
    text-shadow: none;
}

a {
    text-decoration: none;
}

.menu {
    margin-top: 2em;
    padding-top: 50%;
}

hr {
    margin-left: -45px;
    color: rgb(138, 138, 255);
    opacity: 0.4;
}


.nav-item .nav-link .menu-title {
    color: rgb(33, 33, 59);
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    vertical-align: middle;
    font-weight: bold;
}

.nav-item{
    margin-bottom: 2em;
}

.sub-menu .nav-item .nav-link {
    color: #999999;
    padding: 2rem 1rem;
    position: relative;
    line-height: 1;
    height: auto;
    border-top: 0;
}

.iconLink {
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.5s ease;
}

.iconLink:hover {
    margin-left: 5%;
}

.fa {
    opacity: 0.5;
    font-size: 2.3rem;
    margin-right: 7%;
}

.fa-chevron-right {
    float: right;
    font-size: 1.5rem;
    margin-top: 4%;
}

