nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    /* margin-bottom: -5%; */
}

.name {
    font-weight: bolder;
    margin-top: -10%;
}

img{
    border-radius: 10px;

}

.friendName {
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.5;
    margin-top: -10%;
}

.friend-name {
    font-weight: bolder;
    font-size: 1.7rem;
}

.email {
    opacity: 0.8;
    margin-top: -2%;
}

.cancel {
    margin-top: -8%;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: ease 0.3s;
}

.cancel:hover {
    background-color: rgb(23, 23, 145);
    color: white;
    width: 13%;
    padding: 2%;
    padding-left: 5%;
    align-items: center;
}

hr {
    opacity: 0.4;
}

.basic-info{
    text-align: center;
}

.icons {
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
    
}

i {
    cursor: pointer;
    transition: all 0.5s;
}

i:hover {
    transform: scale(1.7);
    box-shadow: 5px 5px 45px;
}

.extra {
    margin: 12%;
    margin-top: 8%;
}

.extra-div {
    margin-bottom: 10%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.extra-div:hover {
    margin-left: 6%;
}

.extras {
    margin-bottom: 20%;
}

.fa-chevron-right {
    float: right;
}

.fa-chevron-right:hover {
    transform: scale(1);
    box-shadow: none;
}

.friend-detail {
    transition: all 1.5s ease;
}

#radio:checked ~ .friend-detail {
    right: 2px;
    width: 400px;
}

#radio {
    display: none;
}