<ng-sidebar-container>
    <ng-sidebar [opened] = "opened">
        <ul class="menu">
            <li class="nav-item">
                <a class="nav-link iconLink" data-toggle="collapse" href="#directMessages" aria-expanded="false" aria-controls="editors">
                    <i class="fa fa-comment menu-icon"></i>
                    <span class="menu-title">Direct Messages</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
                <div class="collapse" id="directMessages">
                    <ul class="flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link">
                                <friends-list></friends-list>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item pnav-item">
                <a class="nav-link iconLink" data-toggle="collapse" href="#groups" aria-expanded="false" aria-controls="editors">
                    <i class="fa fa-users menu-icon"></i>
                    <span class="menu-title">Groups</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
                <div class="collapse" id="groups">
                    <ul class="flex-column sub-menu">
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>
