.message {
    max-width: 70%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* .others-message-box {
} */

.others-message{
    float: left;
    background: white;
}

.seperator {
    width: 100%;
    height: 8px;
    float: left;
}